.btn-primary-spacing {
    margin-right: 20px;
    margin-bottom: 10px !important;
}
 
.mystyle {
    align-items: center;
    box-sizing: content-box;  
    width: 550;
    height: 600px;
    border: 2px dotted black;
    padding: 10px;
    border-radius: 30px
}

