<h3>Gestión de Salones</h3>
<form>
  <div class="form-group">
    <div class="form-group col-md-3">
      <label for="salonNumber">Número de Salón</label>
      <input type="number" class="form-control" #salonNumber>
    </div>
    <div class="form-group col-md-3">
      <label for="salonName">Nombre del Salón</label>
      <input type="text" class="form-control" #salonName>
    </div>
  </div>
  <div class="form-group">
    <div class="form-group col-md-3">
      <label for="bedsCapacity">Capacidad de Camas</label>
      <input type="number" class="form-control" #bedsCapacity>
    </div>
    <div class="form-group col-md-3">
        <label for="productDescrip">Número de Piso</label>
        <input type="number" class="form-control" #salonNumber>
    </div>
    <div class="form-group col-md-3">
        <label for="exampleFormControlSelect1">Tipo de medicina</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Mujeres</option>
          <option>Hombres</option>
          <option>Niños(as)</option>
        </select>
      </div>
  </div>

  <button type="button" class="btn btn-dark btn-primary-spacing" btn-sm> Ingresar</button>
  <button type="button" class="btn btn-dark btn-primary-spacing" btn-sm> Modificar</button>
  <button type="button" class="btn btn-dark btn-primary-spacing" btn-sm> Eliminar</button>

</form>