<div class="container"> 
  <div class="row">

    <div class="container col-md-6" >
      <div class="mystyle" >
        <div class="col-md-auto">
          <h3>Gestión de Salones</h3>

          <form>
            <div class="form-group">
              <div class="form-group col-md-auto">
                <label for="salonNumber">Número de Salón</label>
                <input type="number" class="form-control" #salonNumber>
              </div>
              <div class="form-group col-md-auto">
                <label for="salonName">Nombre del Salón</label>
                <input type="text" class="form-control" #salonName>
              </div>
            </div>
            <div class="form-group">
              <div class="form-group col-md-auto">
                <label for="bedsCapacity">Capacidad de Camas</label>
                <input type="number" class="form-control" #bedsCapacity>
              </div>
              <div class="form-group col-md-auto">
                  <label for="productDescrip">Número de Piso</label>
                  <input type="number" class="form-control" #salonNumber>
              </div>
              <div class="form-group col-md-auto">
                  <label for="exampleFormControlSelect1">Tipo de medicina</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Mujeres</option>
                    <option>Hombres</option>
                    <option>Niños(as)</option>
                  </select>
                </div>
            </div>

            <div class="col-md-auto">
              <button type="button" class="btn btn-dark btn-primary-spacing" btn-sm> Ingresar</button>
              <button type="button" class="btn btn-dark btn-primary-spacing" btn-sm> Modificar</button>
              <button type="button" class="btn btn-dark btn-primary-spacing" btn-sm> Eliminar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container col-md-6" id="content" #content>
      <div class="mystyle">
        <h3 class="h3">Salones</h3>
        <table class="table table-hover table-striped text"  data-pagination="true" id="makeEditable">
          <thead>
              <tr>
                <th scope="col">No. Salon</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cant. Camas</th>
                <th scope="col">Piso</th>
                <th scope="col">Tipo Medicina</th>
              </tr>
          </thead>
          <tbody>
      
            <tr *ngFor="let item of listaSalon">
              <th scope="row">{{ item.id }}</th>
              <td>{{ item.name }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.symptoms }}</td>
              <td>{{ item.treatment }}</td>
              <td><a  data-toggle="modal" href="#" id="getModifyData" data-target="#edit" class="editTable">Editar</a>
              <a  data-toggle="modal" href="#" id="getDeleteData" data-target="#delete" >Eliminar</a>
            </td>
          </tr>
          </tbody>
        </table>    
        </div>
    </div>
  </div>
</div>


