.fg{
    color: white;
}

.nav{
    background-color: #353831;
}

.menus{
    background-color: #38423B;
    border-color: #38423B;
    margin-right: 30px;
    color: white;
}

.btn-primary-spacing {
    margin-right: 10px;
    margin-bottom: 15px !important;
}