.fg{
    color: #F0EBD8;
}

.nav{
    background-color: #3E5C76;
}

.menus{
    background-color: #748CAB;
    border-color: #748CAB;
    margin-right: 30px;
    color: #F0EBD8;
}

.btn-primary-spacing {
    margin-right: 10px;
    margin-bottom: 15px !important;
}

