<div class="container-fluid">
  <div class="row">

    <div class="container col-md-6" >
      <div class="mystyle" >
        <div class="col-md-auto">
          <h3>Inicio de sesión</h3>
          <form id="loginForm" [formGroup]='loginForm' (ngSubmit)="login()">
            <div class="form-group col-md-03">
              <div class="form-group col-md-auto">
                <label for="mail">Mail</label>
                <input type="mail" class="form-control" #mail formControlName="email">
              </div>
              <div class="form-group col-md-auto">
                <label for="cedula">Cédula</label>
                <input type="text" class="form-control" #cedula  formControlName="cedula">
              </div>
              <div class="form-group col-md-auto">
                <label for="contra">Contraseña</label>
                <input type="password" class="form-control" #contra  formControlName="password">
              </div>


              <input type="radio" name="same" value="paciente" ng-model="puesto"> Paciente
              <input type="radio" name="same" value="personal"  ng-model="puesto"> Personal
            </div>

          <div class="row">
            <div class="form-group col-md-auto">
              <button type="submit" class="btn btn-dark btn-primary-spacing" btn-sm #log (click)="login()"> Ingresar</button>
            </div>

            <div class="form-group col-md-auto">
              <button type="submit" class="btn btn-dark btn-primary-spacing" btn-sm #log routerLink='/paciente'> Registrarse</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
