<div class="container">
  <div class="row">
    <div class="col-sm">
      <form>

        <div class="form-group">
          <label for="modNombre">Nombre del paciente</label>
          <input class="form-control" id="modNombre">
        </div>

        <div class="form-group">
          <label for="modApellidos">Apellidos del paciente</label>
          <input class="form-control" id="modApellidos">
        </div>

        <div class="form-group">
          <label for="modCedula">Número de identificación</label>
          <input class="form-control" id="modCedula">
        </div>

        <div class="form-group">
          <label for="modTelefono">Telefono</label>
          <input class="form-control" id="modTelefono">
        </div>

        <div class="form-group">
          <label for="modNacimiento">Fecha de Nacimiento</label>
          <input class="form-control" id="modNacimiento">

        </div>

        <div class="form-group">
          <label for="modDireccion">Direccion</label>
          <input class="form-control" id="modDireccion">
        </div>

        <div class="form-group">
          <label for="modTratamiento">Tratamiento</label>
          <input class="form-control" id="modTratamiento">
        </div>

        <div class="form-group">
          <label for="modPatologias">Patologías</label>
          <input class="form-control" id="modPatologias">
        </div>

        <!--<div class="form-group">
    <label for="doctorencargado">Doctor Encargado</label>
    <input class="form-control" id="moddoctorencargado">
  </div>-->

        <div class="form-group">
          <label for="modEstado">Estado</label>
          <input class="form-control" id="modEstado">
        </div>

        <div class="form-group">
          <label for="modContraseña">Contraseña</label>
          <input class="form-control" id="modContraseña">
        </div>

        <div class="form-group">
          <label for="modNacionalidad">Nacionalidad</label>
          <input class="form-control" id="modNacionalidad">
        </div>

        <div class="form-group">
          <label for="modEmail">Email</label>
          <input class="form-control" id="modEmail">
        </div>

        <div class="form-group">
          <label for="modInternado">Internado (S/N)</label>
          <input class="form-control" id="modInternado">
        </div>

        <div class="form-group">
          <label for="modMedicacion">Medicación</label>
          <input class="form-control" id="modMedicacion">
        </div>

        <div class="form-group">
          <label for="modUci">UCI (S/N))</label>
          <input class="form-control" id="modUci">
        </div>

      </form>
    </div>
    <div class="col-sm">

    </div>

  </div>
</div>
