<p>modificar works!</p>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <form>
        <div class="form-group">
          <label for="id">ID (Primera columna)</label>
          <input class="form-control" id="id">
        </div>

        <div class="form-group">
          <label for="name">Nombre del paciente</label>
          <input class="form-control" id="modNombre">
        </div>

        <div class="form-group">
          <label for="apellidos">Apellidos del paciente</label>
          <input class="form-control" id="modApellidos">
        </div>

        <div class="form-group">
          <label for="cedula">Número de identificación</label>
          <input class="form-control" id="modCedula">
        </div>

        <div class="form-group">
          <label for="fecha">Fecha de Nacimiento</label>
          <input class="form-control" id="modFecha">

        </div>

        <div class="form-group">
          <label for="telefono">Telefono</label>
          <input class="form-control" id="modTelefono">
        </div>

        <div class="form-group">
          <label for="direccion">Direccion</label>
          <input class="form-control" id="modDireccion">
        </div>

        <div class="form-group">
          <label for="tratamiento">Tratamiento</label>
          <input class="form-control" id="modTratamiento">
        </div>

        <div class="form-group">
          <label for="patologias">Patologías</label>
          <input class="form-control" id="modPatologias">
        </div>

      </form>
    </div>
    <div class="col-sm">

    </div>

  </div>
</div>
