<div class="container">
  <div class="row">
    <div class="col-sm">
      <form>

        <div class="form-group">
          <label for="id">ID (Primera columna)</label>
          <input class="form-control" id="id">
        </div>

        <div class="form-group">
          <label for="cedMod">Cedula del Paciente</label>
          <input class="form-control" id="cedMod">
        </div>


        <div class="form-group">
          <label for="ingreso">Fecha de Ingreso</label>
          <input class="form-control" id="inMod">
        </div>

        <div class="form-group">
          <label for="salMod">Fecha de Salida</label>
          <input class="form-control" id="salMod">

        </div>

        <div class="form-group">
          <label for="camMod">Numero de cama</label>
          <input class="form-control" id="camMod">
        </div>

      </form>
    </div>
    <div class="col-sm">

    </div>

  </div>
</div>
