<div class="container">
  <div class="row">
    <div class="col-sm">
      <form>

        <div class="form-group">
          <label for="name">Nombre del paciente</label>
          <input class="form-control" id="modNombre">
        </div>

        <div class="form-group">
          <label for="apellidos">Apellidos del paciente</label>
          <input class="form-control" id="modApellidos">
        </div>

        <div class="form-group">
          <label for="telefono">Telefono</label>
          <input class="form-control" id="modTelefono">
        </div>

        <div class="form-group">
          <label for="fecha">Fecha de Nacimiento</label>
          <input class="form-control" id="modNacimiento">

        </div>

        <div class="form-group">
          <label for="direccion">Direccion</label>
          <input class="form-control" id="modDireccion">
        </div>

        <div class="form-group">
          <label for="tratamiento">Tratamiento</label>
          <input class="form-control" id="modTratamiento">
        </div>

        <div class="form-group">
          <label for="patologias">Patologías</label>
          <input class="form-control" id="modPatologias">
        </div>

        <!--<div class="form-group">
          <label for="doctorencargado">Doctor Encargado</label>
          <input class="form-control" id="moddoctorencargado">
        </div>-->

        <div class="form-group">
          <label for="contraseña">Estado</label>
          <input class="form-control" id="modestado">
        </div>

      </form>
    </div>
    <div class="col-sm">

    </div>

  </div>
</div>
