<div class="container-fluid"> 
    <div class="row">
  
      <div class="container col-md-6" >
        <div class="mystyle" >
          <div class="col-md-auto">
            <h3>Gestión de Camas</h3>
  
            <form>
              <div class="form-group col-md-03">
                <div class="form-group col-md-auto">
                  <label for="nocama">No. de Cama</label>
                  <input type="text" class="form-control" id="nocama">
                </div>
                <div class="form-group col-md-auto">
                    <label for="tipocama">Tipo de cama</label>
                    <select class="form-control" id="tipocama">
                      <option>Normal</option>
                      <option>UCI</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-md-auto">
                  <div class="form-group ">
                    <label for="nosalon">No. de Salon</label>
                    <input type="text" class="form-control" id="nosalon">
                  </div>
                </div>
                <div class="form-group col-md-auto">
                  <label for="disponible">Disponible</label>
                  <select class="form-control" id="disponible">
                    <option>Si</option>
                    <option>No</option>
                  </select>
                </div>              
  
              <div class="form-group col-md-auto">
                <button type="button" id="enviarCamaNueva" class="btn btn-dark btn-primary-spacing" btn-sm> Ingresar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  
      
      <div class="container col-md-6" id="content" #content>
        <div class="mystyle">
          <h3 class="h3">Camas</h3>
          <table class="table table-hover table-striped text"  data-pagination="true" id="makeEditable">
            <thead>
                <tr>
                  <th scope="col">No. Cama</th>
                  <th style="display: none;" scope="col">No. Cama</th>
                  <th scope="col">Tipo Cama</th>
                  <th scope="col">No. Salon</th>
                  <th scope="col">Disponible</th>
                </tr>
            </thead>
            <tbody>
        
              <tr *ngFor="let item of listaCamas">
                <th scope="row">{{ item.nocama }}</th>
                <td style="display: none;">{{ item.nocama }}</td>
                <td>{{ item.tipo }}</td>
                <td>{{ item.nosalon }}</td>
                <td>{{ item.disponibilidad }}</td>
                <td><a  data-toggle="modal" href="#" id="getModifyData" data-target="#edit" class="editTable">Editar</a>
                <a  data-toggle="modal" href="#" id="eliminarCama" data-target="#delete" class="deleteRows">Eliminar</a>
              </td>
            </tr>
            </tbody>
          </table>    
          </div>
      </div>
    </div>
</div>
 <!--Modal para modificar una region-->
 <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header header">
        <h5 class="modal-title" id="exampleModalLabel">MODIFICAR CAMA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body back">
        <app-modificar-cama></app-modificar-cama>
     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="sendModifiedBed" data-dismiss="modal" >Guardar cambios</button>
     </div>
   </div>
 </div>
</div>

<!--Modal para eliminar una region-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header header">
        <h5 class="modal-title" id="exampleModalLabel">ELIMINAR CAMA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body back">
        <div class="alert alert-danger" role="alert">
          ¿Está seguro?
        </div>
     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="sendDeletedBed" data-dismiss="modal">Eliminar</button>
     </div>
   </div>
 </div>
</div>

  
  
  