<div class="container">
    <div class="row">
      <div class="col-sm">
        <form>


            <div class="form-group">
                <label>Número de cédula </label>
                <input class="form-control" id="cedulaModif" >
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" id="nombreModif" >
            </div>


            <div class="form-group">
                <label>Apellidos</label>
                <input class="form-control" id="apellidosModif" >
            </div>


            <div class="form-group">
                <label>Teléfono</label>
                <input class="form-control" id="telefonoModif" >
            </div>


            <div class="form-group">
                <label>Fecha de Nacimiento</label>
                <input class="form-control" id="nacimientoModif" >
            </div>

            <div class="form-group">
                <label>Dirección</label>
                <input class="form-control" id="direccionModif" >
            </div>

            <div class="form-group">
                <label>Fecha de ingreso</label>
                <input class="form-control" id="ingresoModif" >
            </div>

            <div class="form-group">
                <label>Puesto</label>
                <input class="form-control" id="puestoModif" >
            </div>

            <div class="form-group">
              <label>Mail</label>
              <input class="form-control" id="mail" >
          </div>

            <div class="form-group">
                <label>Contraseña</label>
                <input class="form-control" id="contraseñaModif" >
            </div>


        </form>
      </div>
      <div class="col-sm">

      </div>

    </div>
  </div>
