<p>paciente works!</p>
<h3>Gestión de Equipo Médico</h3>
<form>
  <div class="form-group">
    <div class="form-group col-md-4">
      <label for="salonNumber">Nombre del Equipo Médico</label>
      <input type="number" class="form-control" #salonNumber>
    </div>
    <div class="form-group col-md-4">
      <label for="salonName">Nombre del Proveedor</label>
      <input type="text" class="form-control" #salonName>
    </div>
  </div>
  <div class="form-group">
    <div class="form-group col-md-3">
      <label for="bedsCapacity">Cantitad Disponible</label>
      <input type="number" class="form-control" #bedsCapacity>
    </div>
  </div>

  <button type="button" class="btn btn-dark btn-primary-spacing" btn-sm> Ingresar</button>
  <button type="button" class="btn btn-dark btn-primary-spacing" btn-sm> Modificar</button>
  <button type="button" class="btn btn-dark btn-primary-spacing" btn-sm> Eliminar</button>

</form>
