<form>
  <h3>Historial Clínico</h3>

  <div id="content" #content>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Cedula Paciente</th>
          <th scope="col">Cedula Encargado</th>
          <th scope="col">Fecha</th>
          <th scope="col">Procedimiento</th>
          <th scope="col">Tratamiento</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of historialList">
          <th scope="row">{{ item.idhistorial }}</th>
          <td>{{ item.cedulapaciente }}</td>
          <td>
            <p *ngFor="let item of historiaList">
          <td>{{ item.cedulapersonal }}</td>
          <td>{{ item.fechahistoria }}</td>
          <td>{{ item.nombreprocedimiento }}</td>
          <td>{{ item.tratamiento }}</td>
          


        </tr>

      </tbody>
    </table>
  </div>

  <button type="button" class="btn btn-dark btn-primary-spacing" btn-sm routerLink="/paciente"> Atrás</button>

</form>

