<p>historial-clinico works!</p>
<form>
  <h3>Ingreso de Pacientes</h3>

  <div id="content" #content>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Cedula</th>
          <th scope="col">Fecha Nacimiento</th>
          <th scope="col">Telefono</th>
          <th scope="col">Direccion</th>
          <th scope="col">Tratamiento</th>
          <th scope="col">Patologias</th>
          <th scope="col">Editar/Eliminar</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of historialList">
          <th scope="row">{{ item.idPaciente }}</th>
          <td>{{ item.nombre }}</td>
          <td>{{ item.apellidos }}</td>
          <td>{{ item.cedula }}</td>
          <td>{{ item.naciemiento }}</td>
          <td>{{ item.telefono }}</td>
          <td>{{ item.direccion }}</td>
          <td>{{ item.tratamiento }}</td>
          <td>{{ item.patologias }}</td>
          <td>
            <a data-toggle="modal" id="getModifyData" href="#" data-target="#edit" class="editTable">Editar</a>
            <a data-toggle="modal" id="getDeleteData" href="#" data-target="#delete">Eliminar</a>
          </td>

        </tr>
      </tbody>
    </table>
    <button class="btn btn-dark" data-toggle="modal" data-target="#create">Agregar paciente</button>
  </div>

  <button type="button" class="btn btn-dark btn-primary-spacing" btn-sm> Ingresar</button>
  <button type="button" class="btn btn-dark btn-primary-spacing" btn-sm> Modificar</button>
  <button type="button" class="btn btn-dark btn-primary-spacing" btn-sm> Eliminar</button>

</form>
