<div id="content" #content>

  <h3 class="h3">PROCEDIMIENTOS MEDICOS</h3>
  <table class="table text">
     <thead>
        <tr>
           <th scope="col">Nombre</th>
           <th style="display:none;" scope="col">Nombre</th>
           <th scope="col">Recuperacion Minima</th>
        </tr>
     </thead>
     <tbody>

        <tr *ngFor="let item of listaProcedimientos">
           <th scope="row">{{ item.nombre }}</th>
           <td style="display:none;">{{item.nombre}}</td>
           <td>{{ item.recuperacionminima }}</td>
           <td><a  data-toggle="modal" id="getModifyData" href="#" data-target="#edit" class="editTable">Editar</a>
            <a  data-toggle="modal" id="getDeleteData" href="#" data-target="#delete"  class="deleteRows">Eliminar</a>
          </td>
        </tr>
     </tbody>
  </table>
  <button class="btn btn-dark" data-toggle="modal" data-target="#create" id="CreateProcedure">Agregar procedimiento</button>
</div>

<!--Modal para crear una nueva region-->
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header header">
         <h5 class="modal-title" id="exampleModalLabel">AGREGAR PROCEDIMIENTO MEDICO</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body back">
         <app-crear-procedimientos></app-crear-procedimientos>
      </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
         <button type="submit" class="btn btn-primary" id="sendCreatedProcedure"  data-dismiss="modal">Agregar</button>
       </div>
     </div>
   </div>
 </div>


 <!--Modal para modificar una region-->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header header">
         <h5 class="modal-title" id="exampleModalLabel">MODIFICAR PROCEDIMIENTO MEDICO</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body back">
         <app-modificar-procedimientos></app-modificar-procedimientos>
      </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary" id="sendModifiedProcedure" data-dismiss="modal" >Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<!--Modal para eliminar una region-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header header">
         <h5 class="modal-title" id="exampleModalLabel">ELIMINAR PROCEDIMIENTO MEDICO</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body back">
         <div class="alert alert-danger" role="alert">
           ¿Está seguro?
         </div>
      </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
         <button type="button" class="btn btn-primary" id="sendDeletedProcedure" data-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
 </div>