<h3>Evaluación de Servicio</h3>
<form>

  <div class="container">
    <div class="row">
      <div class="col-sm">


        <div class="form-group">
          <label for="aseo">Califique el aseo del hospital</label>
          <input class="form-control" id="aseo">
        </div>

        <div class="form-group">
          <label for="trato">Califique el trato del personal</label>
          <input class="form-control" id="trato">
        </div>

        <div class="form-group">
          <label for="puntualidad">Califique la puntualidad de las citas</label>
          <input class="form-control" id="puntualidad">
        </div>

        <div class="form-group">
          <label for="comentarios">Adjunte otros comentarios</label>
          <input class="form-control" id="comentarios">

        </div>
      </div>
      <div class="col-sm">

      </div>

    </div>
    <button type="button" class="btn btn-dark btn-primary-spacing" id="Josu" btn-sm> Enviar</button>
  </div>

  <button type="button" class="btn btn-dark btn-primary-spacing" btn-sm routerLink="/paciente"> Atrás</button>

</form>
