<p>crear works!</p>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <form>

        <div class="form-group">
          <label for="nombre">Nombre del paciente</label>
          <input class="form-control" id="nombre">
        </div>

        <div class="form-group">
          <label for="apellidos">Apellidos del paciente</label>
          <input class="form-control" id="apellidos">
        </div>

        <div class="form-group">
          <label for="cedula">Número de identificación</label>
          <input class="form-control" id="cedula">
        </div>

        <div class="form-group">
          <label for="telefono">Telefono</label>
          <input class="form-control" id="telefono">
        </div>

        <div class="form-group">
          <label for="fecha">Fecha de Nacimiento</label>
          <input class="form-control" id="nacimiento">

        </div>

        <div class="form-group">
          <label for="direccion">Direccion</label>
          <input class="form-control" id="direccion">
        </div>

        <div class="form-group">
          <label for="tratamiento">Tratamiento</label>
          <input class="form-control" id="tratamiento">
        </div>

        <div class="form-group">
          <label for="patologia">Patologías</label>
          <input class="form-control" id="patologias">
        </div>

      </form>
    </div>
    <div class="col-sm">

    </div>

  </div>
</div>
