<div class="container">
  <div class="row">   
    <div class="col-sm">
      <form>
          <div class="form-group col-md-03">
              <div class="form-group col-md-auto">
                  <label for="idequipomodf">Id de Equipo Médico</label>
                  <input type="text" class="form-control" id="idequipomodf">
                </div>
              <div class="form-group col-md-auto">
                <label for="nombreequipomodf">Nombre del Equipo Médico</label>
                <input type="text" class="form-control" id="nombreequipomodf">
              </div>
              <div class="form-group col-md-auto">
                  <label for="proveedormodf">Nombre del Proveedor</label>
                  <input type="text" class="form-control" id="proveedormodf">
              </div>
              <div class="form-group col-md-auto">
                  <label for="cantmodf">Cantitad Disponible</label>
                  <input type="text" class="form-control" id="cantmodf">
              </div>
            </div>
        </form>
      </div>
    <div class="col-sm">
  </div>
</div></div>

  

