<div class="container">
    <div class="row">   
      <div class="col-sm">
        <form>
            <h3>Agregar Procedimiento Nuevo</h3>
            
            <div class="form-group">
              <label>Nombre del Procedimiento</label>
              <input class="form-control" id="nombre" >
          </div>

            <div class="form-group">
                <label>Dias de recuperación Mínima</label>
                <input class="form-control" id="recuperacion" >
            </div>

        </form>
      </div>
      <div class="col-sm">
       
      </div>
      
    </div>
  </div>
