<div class="container">
    <div class="row">   
      <div class="col-sm">
        <form>
            <div class="form-group col-md-03">
                <div class="form-group col-md-auto">
                  <label for="nosalonmodf">Número de Salon</label>
                  <input type="text" class="form-control" id="nosalonmodf">
                </div>
                <div class="form-group col-md-auto">
                    <label for="nombremodf">Nombre del Salon</label>
                    <input type="text" class="form-control" id="nombremodf">
                </div>
                <div class="form-group col-md-auto">
                    <label for="tipomodf">Tipo de medicina</label>
                    <select class="form-control" id="tipomodf">
                        <option>Mujeres</option>
                        <option>Hombres</option>
                        <option>Niños(as)</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-md-auto">
                    <label for="pisomodf">Número de Piso</label>
                    <input type="text" class="form-control" id="pisomodf">
                </div>
                <div class="form-group col-md-auto">
                <label for="cantidadcamasmodf">Cantidad de Camas</label>
                <input type="text" class="form-control" id="cantidadcamasmodf">
                </div>
               
          </form>
        </div>
      <div class="col-sm">
    </div>
  </div>
</div>
  

